.content {
  margin: 5px;
  padding: 10px;
  width: 500px;
}
.card {
  width: 500px;
  margin: 0px;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-left: 10px;
}
.icon {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 25px;
}
.header {
  flex-direction: row;
  float: left;
  display: flex;
}
.tu {
  width: 277px;
  margin: 10px;
}
.title {
  font-size: larger;
  font-family: fantasy;
}
.uname {
  font-size: smaller;
}
.colab {
  height: 45px;
  margin-top: 10px;
}
.image {
  height: 300px;
  width: 450px;
  margin: 10px;
  margin-left: 9px;
}
.shortDesc {
  margin: 10px;
  margin-left: 7px;
  font-size: smaller;
  overflow-wrap: break-word;
  height: 60px;
  overflow: auto;
}
.readMore {
  font-size: smaller;
  color: #008080;
}
.readMore:hover {
  color: violet;
  text-decoration: underline;
  cursor: pointer;
}
.readMoreModal {
  width: 500px;
  height: 400px;
  overflow-y: auto;
}
.readMoreModal::-webkit-scrollbar {
  width: 5px;
}
.readMoreModal::-webkit-scrollbar-thumb {
  background: rgb(221, 221, 221);
  border-radius: 5px;
}
.shortDesc::-webkit-scrollbar {
  width: 5px;
}
.shortDesc::-webkit-scrollbar-thumb {
  background: rgb(221, 221, 221);
  border-radius: 5px;
}
.longDesContainer {
  margin-right: 25px;
  width: 450px;
  overflow-wrap: break-word;
}
